In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
columns = [
    "class_code",
    "largest_spot_size",
    "spot_distribution",
    "activity",
    "evolution",
    "previous_24hr_activity",
    "historically_complex",
    "area",
    "area_largest_spot",
    "common_flare",
    "class_flares",
    "class_mc_flares",
    "class_x_flares"
]

In [ ]:


df1 = pd.read_fwf(
    r"D:\RM\solar+flare\Dataset\flare.data1",
    header=None
)

df2 = pd.read_fwf(
    r"D:\RM\solar+flare\Dataset\flare.data2",
    header=None
)

In [17]:
df1.shape

(324, 6)

In [18]:
with open(r"D:\RM\solar+flare\Dataset\flare.data1") as f:
    lines1 = f.readlines()

with open(r"D:\RM\solar+flare\Dataset\flare.data2") as f:
    lines2 = f.readlines()

In [19]:
data1 = [line.strip().split() for line in lines1]
data2 = [line.strip().split() for line in lines2]

In [20]:


df1 = pd.DataFrame(data1)
df2 = pd.DataFrame(data2)

In [21]:
df1.shape, df2.shape

((324, 13), (1067, 13))

In [22]:
df1.columns = columns
df2.columns = columns

In [23]:
df = pd.concat([df1, df2], axis=0).reset_index(drop=True)

In [24]:
print(df.shape)
print(df.head())

(1391, 13)
      class_code largest_spot_size spot_distribution activity  evolution  \
0  *******DATA1;              1969             FLARE     DATA  (02/13/69
1              C                 S                 O        1          2
2              D                 S                 O        1          3
3              C                 S                 O        1          3
4              D                 S                 O        1          3

  previous_24hr_activity historically_complex     area area_largest_spot  \
0                     to            03/27/69)  *******              None
1                      1                    1        2                 1
2                      1                    1        2                 1
3                      1                    1        2                 1
4                      1                    1        2                 1

  common_flare class_flares class_mc_flares class_x_flares
0         None         None            None           None
1            2            0               0              0
2            2            0               0              0
3            1            0               0              0
4            2            0               0              0

In [ ]:
# To drop metadata
df = df.iloc[1:].reset_index(drop=True)

In [27]:
df.shape

(1390, 13)

In [ ]:

df.head()

,class_code,largest_spot_size,spot_distribution,activity,evolution,previous_24hr_activity,historically_complex,area,area_largest_spot,common_flare,class_flares,class_mc_flares,class_x_flares
0,C,S,O,1,2,1,1,2,1,2,0,0,0
1,D,S,O,1,3,1,1,2,1,2,0,0,0
2,C,S,O,1,3,1,1,2,1,1,0,0,0
3,D,S,O,1,3,1,1,2,1,2,0,0,0
4,D,A,O,1,3,1,1,2,1,2,0,0,0

In [28]:
df.isnull().sum()

class_code                0
largest_spot_size         0
spot_distribution         0
activity                  0
evolution                 0
previous_24hr_activity    0
historically_complex      0
area                      0
area_largest_spot         0
common_flare              1
class_flares              1
class_mc_flares           1
class_x_flares            1
dtype: int64

In [29]:
df[df.isnull().any(axis=1)]

,class_code,largest_spot_size,spot_distribution,activity,evolution,previous_24hr_activity,historically_complex,area,area_largest_spot,common_flare,class_flares,class_mc_flares,class_x_flares
323,*******,DATA2;,1978,FLARE,DATA,(08/19/78,to,12/23/78),*****,None,None,None,None

In [30]:
df = df.dropna().reset_index(drop=True)

In [32]:
df.isnull().sum()

class_code                0
largest_spot_size         0
spot_distribution         0
activity                  0
evolution                 0
previous_24hr_activity    0
historically_complex      0
area                      0
area_largest_spot         0
common_flare              0
class_flares              0
class_mc_flares           0
class_x_flares            0
dtype: int64

In [34]:
df.to_csv('data-processed.csv')